<include file="Admin/index" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <center>
        <form   >
            <span style="display:inline-block;width:200px;text-align:right;">请输入原来的密码：</span>

            <input type="text" name="password" maxlength="20" >
            <br>
            <span style="display:inline-block;width:200px;text-align:right;">修改后的密码：</span>

            <input type="password" name="firstpassword" maxlength="20">
            <br>
            <span style="display:inline-block;width:200px;text-align:right;">再输入一次： </span>

            <input type="password" name="secondpassword" maxlength="20">
            <br>
            <button type="button" id="xiugai">修改</button>

        </form >
    </center>
</div>
<script src="__PUBLIC__/jquery-3.3.1/jquery-3.3.1.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/dialog/layer.js"></script>
<script src="__PUBLIC__/js/password.js"></script>
</body>
</html>
