<include file="Admin/index" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h2>增加油品类型</h2>
</div>
<div align="center">
    <form  >
        <div align="center">
            <span style="display:inline-block;width:100px;text-align:right;">名称：</span>
            <input type="text" name="name" />
            <BR>
        </div>
    </form>
    <button id="submit">增加</button>
    <a href="{:U('Home/oil/index')}">返回</a>
</div>
</body>
<script src="__PUBLIC__/jquery-3.3.1/jquery-3.3.1.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/dialog/layer.js"></script>
<script src="__PUBLIC__/js/oil/add.js"></script>
</html>
