<include file="Admin/index" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告管理</title>
</head>
<body>
<div>
    <h2 align="center">公告内容</h2>
</div>
<div align="center">
    <form >
        <label>公告：</label>
        <textarea cols="50" rows="10" id="text"></textarea>
    </form>
    <button id="submit">确定</button>
</div>
</body>
<script src="__PUBLIC__/jquery-3.3.1/jquery-3.3.1.js"></script>
<script src="__PUBLIC__/layui-v2.2.5/layui/layui.js" charset="utf-8"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/dialog/layer.js"></script>
<script src="__PUBLIC__/js/announce/index.js"></script>
</html>