<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body >
<div align="center">

        <eq name="power['0']" value="1"><a href="{:U('Home/User/index')}">用户管理</a></eq>
        <eq name="power['1'] " value="2"><a href="{:U('Home/Index/password')}">修改密码</a></eq>
            <eq name="power['2']" value="3"><a href="{:U('Home/Operate/index')}">操作日志</a></eq>
                <eq name="power['3']" value="4"><a href="{:U('Home/Admin/manage')}">管理员管理</a></eq>
                    <eq name="power['4']" value="5"><a href="{:U('Home/Oil/index')}">油品类型管理</a></eq>
                        <eq name="power['5']" value="6"><a href="{:U('Home/List/index')}" >车辆队列管理</a></eq>
                            <eq name="power['6']" value="7"><a href="{:U('Home/Power/index')}">权限管理</a></eq>
                                <eq name="power['7']" value="8"><a href="{:U('Home/Announce/index')}">公告内容管理</a></eq>
</div>
<div align="center">
    <h2 >后台中心</h2>
    <button id="quit">退出</button>
    <button><a href="{:U('Home/Admin/index')}">首页</a></button>
</div>
<hr />

</body>
<script src="__PUBLIC__/jquery-3.3.1/jquery-3.3.1.js"></script>
<script src="__PUBLIC__/layui-v2.2.5/layui/layui.js" charset="utf-8"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/dialog/layer.js"></script>
<script src="__PUBLIC__/js/admin/index.js"></script>
</html>

