<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">

    <a href="{:U('Home/User/index')}" target="right">用户管理</a>
    <a href="{:U('Home/Index/password')}" target="right">修改密码</a>
    <a href="{:U('Home/Operate/index')}" target="right">操作日志</a>
    <a href="{:U('Home/Admin/manage')}" target="right">管理员管理</a>
    <a href="{:U('Home/Oil/index')}" target="right">油品类型管理</a>
    <a href="{:U('Home/List/index')}" target="right">车辆队列管理</a>
    <a href="{:U('Home/Power/index')}" target="right">权限管理</a>
    <a href="{:U('Home/Announce/index')}" target="right">公告内容管理</a>


</div>
</body>
</html>